.selection-modal {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 5px;
}

.modal-header {
  padding: 0.5rem 0.75rem;
  background-color: #f1f1f1;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 0.5rem;
}

.table th,
.table td {
  font-size: 14px;
  padding: 0.25rem 0.5rem;
}

.table th {
  background-color: #376998;
  color: white;
}
.table td {
  color: #01539d;
}

.pagination {
  margin-top: 0.5rem;
}

input {
  border: 1px solid #7f9db9;
  color: #01539d;
}
