/* General Button Styles */
.btn {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  width: 110px;
  height: 19px;
  padding: 1px 2px;
  border-radius: 10px;
  transition: none;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

/* Gradient Blue Button */
.btn-gradient-blue {
  background-image: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
  color: white;
  background-color: #319984;
  box-shadow: 0 4px #7db9e8;
  border: 1px solid #7db9e8;
}
.btn-gradient-blue:hover {
  background-image: linear-gradient(to top, #6ca8d6 0%, #1a4b80 100%);
  box-shadow: 0 4px #6ca8d6;
}
/* Disabled Button Style */
.btn-gradient-gray {
  background-image: linear-gradient(to bottom, #969696 0%, #e0e0e0 100%);
  color: white;
  background-color: #bfbfbf;
  box-shadow: 0 4px rgba(147, 149, 150, 0.69);
  border: none;
  cursor: not-allowed;
}

/* Custom Border Fieldsets */
.custom-border {
  border: 1px solid #7f9db9;
  border-radius: 4px;
}

/* Input Fields */
input[type="date"],
input[type="text"] {
  border: 1px solid #7f9db9;
  padding: 4px 8px;
  color: #01539d;
}
/* Visually Hidden Text for Accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
