.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
}

.modal-box {
  background: white;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  min-width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.error-detail table {
  color: #fff;
  background: #383838;
  font-size: 13px;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}
.error-detail td {
  padding: 0.1rem 0.5rem;
}

.error-detail h4 {
  background-color: rgb(150, 3, 33);
  color: white;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  border-radius: 5px;
}
.custom-modal-message {
  font-weight: bold;
  margin-bottom: 1rem;
}
